# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=xxx
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Markitown API"
STACK_NAME=markitdown-api

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:3000,https://localhost,https://localhost:3000"
# openssl rand -hex 32
SECRET_KEY=xxx
